<h3 class="w3-center" style="margin: 30px"><b>Agregar Información Pelicula</b></h3>
<div id="idAdd" class="contenedorAdd">
  <form [formGroup]= "frmPeliculas">
    <div class="w3-row">
      <div class="w3-col m6">
        <div>
          <input formControlName="tituloPelicula" class="w3-input" type="text" placeholder="Titulo de la pelicula" >
        </div>
        <label *ngIf="frmPeliculas.controls.tituloPelicula.invalid && frmPeliculas.controls.tituloPelicula.dirty">Este campo es obligatorio</label>
        <br>
        <div>
          <input formControlName="generoPelicula" class="w3-input" type="text" placeholder="Genero de la Pelicula" value="generoPelicula">
        </div>
        <label *ngIf="frmPeliculas.controls.generoPelicula.invalid && frmPeliculas.controls.generoPelicula.dirty">Este campo es obligatorio</label>
        <br>
        <div>
          <input formControlName="fechaEstrenoPelicula" class="w3-input" type="text" placeholder="Fecha de estreno de la pelicula" value="fechaEstrenoPelicula">
        </div>
        <label *ngIf="frmPeliculas.controls.fechaEstrenoPelicula.invalid && frmPeliculas.controls.fechaEstrenoPelicula.dirty">Este campo es obligatorio</label>
        <br>
        <div>
          <input formControlName="resumenPelicula" class="w3-input" type="text" placeholder="Resumen de la Pelicula" value="resumenPelicula">
        </div>
        <label *ngIf="frmPeliculas.controls.resumenPelicula.invalid && frmPeliculas.controls.resumenPelicula.dirty">Este campo es obligatorio</label>
        <div>
          <p>
            <label for="">Protagonista:</label>
            <select formControlName="nombreActor">
              <option *ngFor="let i of arregloActor" value="{{i.idActor}}">{{i.nombreActor}}</option>
            </select>
          </p>
        </div>
        <div>
          <p>
            <label for="">Productor:</label>
            <select formControlName="nombreProductor">
              <option *ngFor="let i of arregloProductor" value="{{i.idProductor}}">{{i.nombreProductor}}</option>
            </select>
          </p>
        </div>
        <br>
      </div>


      <div class="w3-col m6">
        <div>
          <input formControlName="imagen" class="w3-input" type="text" placeholder="Imagen de la Pelicula" value="imagenPelicula">
        </div>
        <label *ngIf="frmPeliculas.controls.imagen.invalid && frmPeliculas.controls.imagen.dirty">Este campo es obligatorio</label>
        <br>
        <div>
          <input formControlName="paisOrigenPelicula" class="w3-input" type="text" placeholder="Pais de la Pelicula" value="paisOrigenPelicula">
        </div>
        <label *ngIf="frmPeliculas.controls.paisOrigenPelicula.invalid && frmPeliculas.controls.paisOrigenPelicula.dirty">Este campo es obligatorio</label>
        <br>
        <div>
          <input formControlName="duracionPelicula" class="w3-input" type="text" placeholder="Duración de la Pelicula" value="duracionPelicula">
        </div>
        <label *ngIf="frmPeliculas.controls.duracionPelicula.invalid && frmPeliculas.controls.duracionPelicula.dirty">Este campo es obligatorio</label>
        <br>
        <div>
          <input formControlName="calificacionFinalPelicula" class="w3-input" type="number" step="0.01" placeholder="Calificacion" value="{{PromedioTotal}}" readonly>
        </div>
        <label id="idPromedio" *ngIf="frmPeliculas.controls.calificacionFinalPelicula.invalid && frmPeliculas.controls.calificacionFinalPelicula.dirty">Este campo es obligatorio</label>
        <div>
          <p>
            <label>Director:</label>
            <select formControlName="nombreDirector">
              <option *ngFor="let i of arregloDirector" value="{{i.idDirector}}">{{i.nombreDirector}}</option>
            </select>
          </p>
        </div>
        <div>
          <p>
            <label for="">Guionista:</label>
            <select formControlName="nombreGuionista">
              <option *ngFor="let i of arregloGuionista" value="{{i.idGuionista}}">{{i.nombreGuionista}}</option>
            </select>
          </p>
        </div>
      </div>
    </div>


    <!--COMIENZA EL PROMEDIO -->
    <div  class="divPromedio">
      <div class="w3-row">
        <div class="w3-col m4">
          <h1 class="w3-center">Director</h1>
          obra previa 1: <input formControlName="obraPreviaD1" class="w3-input inputsPromedio" type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaD1.invalid && frmPeliculas.controls.obraPreviaD1.dirty">Este campo es obligatorio</label>
          obra previa 2: <input formControlName="obraPreviaD2" class="w3-input inputsPromedio" type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaD2.invalid && frmPeliculas.controls.obraPreviaD2.dirty">Este campo es obligatorio</label>
          obra previa 3: <input formControlName="obraPreviaD3" class="w3-input inputsPromedio" type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaD3.invalid && frmPeliculas.controls.obraPreviaD3.dirty">Este campo es obligatorio</label>
        </div>
        <div class="w3-col m4">
          <h1 class="w3-center">Productor</h1>
          obra previa 1: <input formControlName="obraPreviaP1" class="w3-input inputsPromedio"  type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaP1.invalid && frmPeliculas.controls.obraPreviaP1.dirty">Este campo es obligatorio</label>
          obra previa 2: <input formControlName="obraPreviaP2" class="w3-input inputsPromedio"  type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaP2.invalid && frmPeliculas.controls.obraPreviaP2.dirty">Este campo es obligatorio</label>
          obra previa 3: <input formControlName="obraPreviaP3" class="w3-input inputsPromedio"  type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaP3.invalid && frmPeliculas.controls.obraPreviaP3.dirty">Este campo es obligatorio</label>
        </div>
        <div class="w3-col m4">
          <h1 class="w3-center">Protagonista</h1>
          obra previa 1: <input formControlName="obraPreviaA1" class="w3-input inputsPromedio"  type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaA1.invalid && frmPeliculas.controls.obraPreviaA1.dirty">Este campo es obligatorio</label>
          obra previa 2: <input formControlName="obraPreviaA2" class="w3-input inputsPromedio"  type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaA2.invalid && frmPeliculas.controls.obraPreviaA2.dirty">Este campo es obligatorio</label>
          obra previa 3: <input formControlName="obraPreviaA3" class="w3-input inputsPromedio"  type="number">
          <label *ngIf="frmPeliculas.controls.obraPreviaA3.invalid && frmPeliculas.controls.obraPreviaA3.dirty">Este campo es obligatorio</label>
        </div>
      </div>
      <br>
      <div class="w3-center" style="margin:30px;">
        <button type="button" class="w3-btn colorbotonFormulario" [disabled]="frmPeliculas.invalid" name="button" (click)="ObtenerPromedio()">Obtener exito</button><br>
        <label step="0.01" for="">{{PromedioTotal}}</label>
      </div>
    </div>
  </form>
  <div class="w3-center">
    <button type="button" class="w3-btn colorbotonFormulario" [disabled]="frmPeliculas.invalid" (click)="guardarPelicula()">Guardar</button>
  </div>
</div>
