.btnIngresar{
  margin-left: 5%;
  border-radius: 6px;
  width: 290px;
  margin-top: 10px;
}
.margenLogin{
  padding: 40px;
  width: 400px;
  margin-top: 40px;
  margin-left: 30%;
  background: #040404;
  border-radius: 10px;
  margin-bottom: 30px;
}
.inputLogin{
  text-align: center;
  color: yellow;
  background: #040404;
  margin-top: 10px;

}


img{
  margin-bottom: 70px;
  margin-left: 25px;
  border-radius: 6px;
  width: 270px;
  height: 100px;
}
