.btnIngresar{
  margin-left: 17%;
  border-radius: 6px;
  width: 290px;
  margin-top: 26px;
}
.margenLogin{
  padding: 60px;
  width: 540px;
  margin-top: 75px;
  background: #040404;
  border-radius: 10px;
}
.inputLogin{
  text-align: center;
  color: yellow;
  background: #040404;
  margin-top: 10px;

}
img{
  margin-bottom: 82px;
  margin-left: 15px;
  border-radius: 6px;
}
