<header>
  <h3 class="w3-center">ProfeciaFilm</h3>
  <div style="text-align: center">
      <a href="#"><i class="fa fa-home icono" ></i></a>
      <a href="#"><i class="fa fa-line-chart icono" ></i></a>
      <a href="#"><i class="fa fa-plus-circle icono"></i></a>
  </div>
</header>
<div class="sidebar">
  <h4 class="w3-center">Generos</h4>
  <a [routerLink]="['/']" >Drama</a>
  <a [routerLink]="['/']">Acción</a>
  <a [routerLink]="['/']">Comedia</a>
  <a [routerLink]="['/']">Ciencia Ficción</a>
  <a [routerLink]="['/']">Terror</a>
  <a [routerLink]="['/']">Aventuras</a>
  <a [routerLink]="['/']">Animación</a>
  <a [routerLink]="['/']">Romance</a>
</div>


<router-outlet></router-outlet>
