.mat-tab-group {
    margin-bottom: 48px;
    color: black;
}

.cuadroDescrip{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 80px;
    padding: 30px;
    background-color: black;
    color: white;
}

.cuadroCal{
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: black;
    color: white;
}


.cuadro{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    background-color: yellow;
    color: black;
}

.img{
    width: auto;
    height: 200px;
    margin: 20px;
}