<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Ficha">
        <div class="w3-row" style="margin: 20px">
            <div *ngFor="let i of arregloPeliculas">
                <div class="w3-col m2">
                    <img class="img" src="{{i.imagenPelicula}}">
                    <div class="cuadroCal">
                        <b>Valoración:</b>
                        <div>
                            <p><b>Calificaión:</b></p>
                            <p  class="cuadro"> {{i.calificacionPelicula}} </p>
                        </div>
                    </div>
                </div>
                <div class="w3-col m10">
                    <div class="cuadroDescrip">
                        <h3 class="w3-center">Ficha Técnica</h3>
                        <p>
                            <b>Titulo original:</b> {{i.tituloPelicula}}<br>
                            <b>Fecha Estreno:</b> {{i.fechaEPelicula}}<br>
                            <b>Duración:</b> {{i.duracionPelicula}}<br>
                            <b>País:</b> {{i.paisPelicula}}<br>
                            <b>Dirección:</b>{{i.nombreDirector}}<br>
                            <b>Guion:</b> {{i.nombreGuionista}}<br>
                            <b>Resumen de la Pelicula:</b> {{i.resumenPelicula}}<br>
                            <b>Producción:</b> {{i.nombreProductor}}<br>
                            <b>Género:</b> {{i.generoPelicula}}<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Críticas">Content 2</mat-tab>
    <mat-tab label="Tráilers">Content 3</mat-tab>
</mat-tab-group>
