<div class="w3-row" style="padding: 20px;margin-top: 20px;">
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/peliculaPrueba.jpg" [routerLink]="['/informacion-peliculas']">
    </div>
    <div class="w3-col m2" *ngFor="let i of arregloPeliculas">
        <img alt="cargando..." class="img" src="{{i.imagen}}" (click)="navegarxPelicula(i.Id_peliculas)">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula3.jpg" [routerLink]="['/informacion-peliculas']">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula4.jpeg" [routerLink]="['/informacion-peliculas']">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula5.jpg" [routerLink]="['/informacion-peliculas']">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula6.jpg" [routerLink]="['/informacion-peliculas']">
    </div>
</div>

<div class="w3-row" style="padding: 20px;">
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula8.jpeg" [routerLink]="['/informacion-peliculas']">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula9.jpeg" [routerLink]="['/informacion-peliculas']">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula10.jpg" [routerLink]="['/informacion-peliculas']">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula11.jpg" [routerLink]="['/informacion-peliculas']">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula12.jpg" [routerLink]="['/informacion-peliculas']">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula13.jpg" [routerLink]="['/informacion-peliculas']">
        </div>
    </div>
