<div class="w3-row" style="padding: 20px;margin-top: 20px;">
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/peliculaPrueba.jpg">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula2.jpg">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula3.jpg">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula4.jpeg">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula5.jpg">
    </div>
    <div class="w3-col m2">
        <img class="img" src="../../assets/img/pelicula6.jpg">
    </div>
</div>

<div class="w3-row" style="padding: 20px;">
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula8.jpeg">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula9.jpeg">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula10.jpg">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula11.jpg">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula12.jpg">
        </div>
        <div class="w3-col m2">
            <img class="img" src="../../assets/img/pelicula13.jpg">
        </div>
    </div>
